<!DOCTYPE html>
<html> 
    <head> 
        <title>Find Member</title>
    </head>

    <body>
        <div id = "Header">
            <a href = "{{ url_for('homepage')}}">
                <img src = "{{ url_for('static', filename = 'jpbeautysalonlogo.png') }}" width = "444" height = "110" alt = "Return to Homepage"></img>            </a>
        </div>

        <div id = "Main Content">
            <p>&nbsp;</p>
            <p><strong>Find a member to check their transaction history.</strong></p> 

            <form action = "{{ url_for('membertransactionssummary') }}" method = "POST">
            <table>
                <td>Member ID</td>
                <td><input name = "MemberID"></td>
            </table>
            <input type = "submit" value = "Submit">
            </form>
        </div>
    </body>

</html>