<!DOCTYPE html>
<html> 
    <head> 
        <title>No Revenue</title>
    </head>

    <body>
        <div id = "Header">
            <a href = "{{ url_for('homepage')}}">
                <img src = "{{ url_for('static', filename = 'jpbeautysalonlogo.png') }}" width = "444" height = "110" alt = "Return to Homepage"></img>            </a>
        </div>

        <div id = "MainContent">
            <table border = 1>
                <tr>
                    <td>Total Revenue</td>
                    <td>{{ Month }}</td>
                    <td>0.00</td>
                </tr>
            </table>
        </div>
    </body>

</html>